__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
date/
python_workspace/
python_workplace/
workplace/
test.py
*.log
.venv/
venv/
ENV/
env/
.trae/
skills/*/__init__.py
beta/
modules/old_version/
.gitignore


# Build files
dist_pyinstaller/
dist_dolphin/
dist_server/
build_temp/
included_models/
*.spec
*.exe
build.py
build_pyinstaller.py
build_webapi.py
build_main/
dolphin-plat/
package.py
dist_dolphincode_cli/

# Documentation

# IDE
.idea/
.vscode/
*.sublime-workspace

# OS
Thumbs.db
.DS_Store

# Web files
web/
main_server.py

# Test GUI/CLI entries (beta)
main_cli.py
main_gui.py
modules/main_server/app_engine.py

#embedding
models/bge-small-zh-v1.5/
models

# Archive (not tracked by git)
_archive/
